@media (max-width:900px) {
    header {position:relative; width: calc(100% - 30px);}
    header nav ul {display: none;}

    header nav .m_nav {
        display: flex;
        flex-flow:column nowrap;
        gap: 6px;
    }
    header nav .m_nav span {
        background-color: #222;
        border-radius: 10px;
        width: 40px; height: 8px;
    }
    /* m-nav-open */
    header .m_nav_open {
        background:lime;
        display: block;
        position:absolute;
        top:100px;
        width: 100%;
        padding:43px 0;
    }
}/* 900 end */