/* Desktop */
header {
    height: 100px; 
    max-width: 1160px; min-width: 320px;
    margin:0 auto;
    background: aqua;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position:relative;
}
header h1 {width:100px; height: 30px; background-color: yellow;}
header h1 img {width: 100%;}
header nav {}
header nav ul {
    display: flex;
    flex-flow: row nowrap;
}
header nav ul li {margin-left: 20px;}
header nav ul li a {}
header nav .m_nav {
    display: none;
}
/* 모바일 메뉴-데스크탑에서 숨기기 */
header .m_nav_open {
    background:lime;
    display: none;
    position:absolute;
    top:100px;
    width: 100%;
    padding:43px 0;
}
header .m_nav_open #close {
    font-size: 24px;
    position: absolute; right: 16px; top:16px;
}
header .m_nav_open ul {
    background:yellow;
    text-align: center;
}
header .m_nav_open ul li {margin-bottom: 30px;}
header .m_nav_open ul li a {font-size: 1.33rem;}
/* main */
main {}
/* main-1. swiper-slide */
/* swiper 플러그인의 정식명칭 클래스는 웹 페이지 1장에서 swiper가 2개이상 들어올 경우 디자인이 강제로 중복될 수 있으므로 개별 아이디 및 클래스를 사용해서 선택자를 만들고 디자인한다.*/
main #pawin_slide {
    width:1160px; height: 650px;
    background-color: burlywood;
}
main #pawin_slide .swiper-wrapper {}
main #pawin_slide .swiper-wrapper .swiper-slide {}
main #pawin_slide .swiper-wrapper .slide1 {
    background:url(https://picsum.photos/id/10/1160);
}
main #pawin_slide .swiper-wrapper .slide2 {
    background:url(https://picsum.photos/id/11/1160);
}
main #pawin_slide .swiper-wrapper .slide3 {
    background:url(https://picsum.photos/id/12/1160);
}
main #pawin_slide .swiper-wrapper .slide4 {
    background:url(https://picsum.photos/id/13/1160);
}
main #pawin_slide .swiper-button-prev,
main #pawin_slide .swiper-button-next {
    width: 40px; height: 40px;
}
main #pawin_slide .swiper-button-prev {
    background: url(../images/prev.png);
}
main #pawin_slide .swiper-button-next {
    background: url(../images/next.png);
}
/* swiper-slide 라이브러리에서 기본제공하는 이전, 다음 숨기기 */
main #pawin_slide .swiper-button-prev::after,
main #pawin_slide .swiper-button-next::after {display: none;}

main #slide2 {
    width:1160px; height: 300px;
    background-color: yellowgreen;
}
main #slide2 .swiper-wrapper {}
main #slide2 .swiper-wrapper .slide1 {
    background:url(https://picsum.photos/id/14/1160);
}
main #slide2 .swiper-wrapper .slide2 {
    background:url(https://picsum.photos/id/15/1160);
}
main #slide2 .swiper-wrapper .slide3 {
    background:url(https://picsum.photos/id/16/1160);
}